.header-container{
    list-style: none !important;
    display: flex !important;
    gap: 20px;
    font-size: larger;
    font-weight: bolder;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.header-container li:hover{
    color: tomato !important;
    cursor: pointer;
}

.logo{
    font-size: xx-large;
    font-weight: 900;
    color: tomato !important;
    font-family: "Concert One", sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    
}
.flex{
    display: flex !important;
    justify-items: center !important;
    justify-content: center;
    align-items: center;
}