.broadcast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .broadcast-container h2 {
    margin-bottom: 10px;
  }
  
  .broadcast-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
  }
  
  .broadcast-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: tomato;
    color: white;
    cursor: pointer;
  }
  
  .broadcast-container button:hover {
    background-color: rgb(255, 51, 15);
  }
  