
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;    
}
.active{
    padding-top: 8px;
    border-radius: 3px;
}

a{
    text-decoration: none !important;
    padding: 5px;
    border-radius: 3px;
    color: tomato ;
}
a:hover{
    color: white;
    background: tomato !important;
}

.padder{
    padding-inline: 28px !important;
}

.mb{
    margin-bottom: 20px;
}
